<body>
  <nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2 d-none d-md-inline-block" routerLink="product-add">Ürün Ekle</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/products/category/0">Tüm Ürünler</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/products/category/1">Bilgisayar</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/products/category/2">Elektronik</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/products/category/3">Ev Eşyası</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/products/category/4">Mobilya</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="login">Login</a>
    </div>
  </nav>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <router-outlet></router-outlet>

    </div>

  </div>